<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <?php view('common.nav') ?>
        <h1>添加日志</h1>
    
        <form action="/blog/store" method="post">
            <div>
                标题：
                <input type="text" name="title">
            </div>
            <div>
                内容：
                <textarea name="content" id="content"></textarea>
            </div>
            <div>
                是否公开：
                <input type="radio" name="is_show" value="1" checked> 公开
                <input type="radio" name="is_show" value="0"> 私有
            </div>
            <div>
                <input type="submit" value="发表日志">
            </div>
        </form>
    
        <?php view('common.footer') ?>
</body>
</html>