<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .one{
          text-decoration: none; 
          font-weight: 600;  
          color:black;
          padding-right: 15px;
        }
        a{
           text-decoration: none; 
        }
    </style>
</head>
<body>

    <?php if(isset($_SESSION['_MESS_'])): ?>
    <div id="_mess_" style="border: 1px solid #25b952;background-color:#b9ecbd;padding:5px;">
        <?=$_SESSION['_MESS_']?>
    </div>
    <?php unset($_SESSION['_MESS_']) ?> 
    <?php endif; ?>


    <h1>智聊系统</h1>
    <a class="one" href="/">首页</a>
    <a class="one" href="/blog/index">日志列表</a>
    <?php if(isset($_SESSION['id']) ): ?>
        <?=$_SESSION['email']?>
        <a class="one" href="/user/recharge">充值</a>
        <a class="one" href="/user/orders">充值列表</a>
        <a class="one" href="/blog/create">发表日志</a>
        <a class="one" href="/user/balance">查看余额</a>
        <!-- <span style="color:#F00;font-weight:bold;"><?=$_SESSION['money']?></span> 元 -->
        <a class="one" href="/user/logout">退出</a>
    <?php else: ?>
        <a class="one" href="/user/regist">注册</a>
        <a class="one" href="/user/login">登录</a>
    <?php endif; ?>
    <hr> 

    
</body>
</html>

<script>
var m = document.getElementById('_mess_');
var s = 3;
var si = setInterval(function(){
    s--;
    if(s==0)
    {
        m.style.display='none';
        clearInterval(si);
    }
}, 1000);
</script>