<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .one{
          text-decoration: none; 
          font-weight: 600;  
          color:black;
          padding-right: 10px;
        }
        a{
            margin:10px;
           text-decoration: none; 
        }
        h1{
            width: 200px;
            margin:10px;
            padding-right: 0px;

        }
        img{
            width: 80px;
            height: 80px;
            display: inline-block;
        }
      
    </style>
    <script src="/simditor-2.3.6/scripts/jquery.min.js"></script>
</head>
<body>

    <?php if(isset($_SESSION['_MESS_'])): ?>
    <div id="_mess_" style="border: 1px solid #25b952;background-color:#b9ecbd;padding:5px;">
        <?=$_SESSION['_MESS_']?>
    </div>
    <?php unset($_SESSION['_MESS_']) ?> 
    <?php endif; ?>


    <h1>智聊系统</h1>
   
   
    <a class="one" href="/">首页</a>
    <a class="one" href="/blog/index">日志列表</a>
    <?php if(isset($_SESSION['id']) ): ?>
        <?=$_SESSION['email']?>
        <a class="one" href="/user/recharge">充值</a>
        <a class="one" href="/user/orders">充值列表</a>
        <a class="one" href="/blog/create">发表日志</a>
        <a class="one" href="/user/balance">查看余额</a>
        <a class="one" href="/user/face">设置头像</a>
        <a class="one" href="/user/allupload">上传相册</a>
        <a class="one" href="/blog/excel">导出Excel</a>
        <a class="one" href="/user/logout">退出</a>

    <?php else: ?>
        <a class="one" href="/user/regist">注册</a>
        <a class="one" href="/user/login">登录</a>
    <?php endif; ?>

    
    <img src="<?=$_SESSION['face']?>" />
    
    
    <select id="alluser">
        <option value="">选择账号</option>
    </select>

    <a style="color:#F00;font-size:1.2em;" class="one" href="/redpacket/rob_view">抢红包~</a>
    <hr> 
</body>
</html> 


<script>
    var m = document.getElementById('_mess_');
    var s = 3;
    var si = setInterval(function(){
        s--;
        if(s==0)
        {
            m.style.display='none';
            clearInterval(si);
        }
    }, 1000);


    $.ajax({
            type:"GET",
            url:"/Switch/getAllUsers",
            dataType:"json", 
            success:function(data){
                console.log(data);
                if(data.status_code == 200){
                    var html= ' ';
                    for(var i=0;i<data.data.length;i++){
                        html += '<option value="'+data.data[i].email+'">'+data.data[i].email+'</option>';
                    }
                    $("#alluser").append(html);
                }
            }
        });
    
        $("#alluser").change(function(){
            // 获取选中的值
            var email = $(this).val()
            if(email != ''){
                $.ajax({
                    type:"GET",
                    url:"/Switch/login?email="+email,
                    success:function(data){
                        // 刷新页面
                        location.reload();
                    } 
                });
            }
        }); 
</script>