<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>设置头像</title>
</head>
<body>
    <?php view('common.nav') ?>
    <h1>设置头像</h1>
    <form action="/user/Agfaces" method="post" enctype="multipart/form-data">
        <div>
           头像:
            <input id="imgs" type="file" name="face">
        </div>
        <div>
            <input type="submit" value="上传">
        </div>
    </form>
    <?php view('common.footer') ?>
</body>
</html>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    var img = document.getElementById('imgs');
    img.onchange = function(){
        // 获取第一张图片
        var oneimg = this.files[0];
        // 获取这张图片的尺寸
        var size = oneimg.size;
        // 每块的尺寸
        var perSize = 4096;
        // 计算总的快数
        var count  = Math.ceil(size/perSize);
        // 为所有分片生成一个随机的唯一的名字
        var name = "img_"+Math.random(1,99999);
                console.log(name);
        for(var i=0;i<count;i++){
            var allimg = oneimg.slice(i*perSize,i*perSize+perSize);
            // 创建一个FormData对象
            var objs  = new FormData();
            // 添加到表单中
            objs.append('img',allimg) //图片数据
            objs.append('count',count)// 总的快数
            objs.append('i',i) //当前图片是第几块
            objs.append('size',perSize) //每块尺寸
            objs.append('img_name',name) //名字
            // 上传的服务器
            $.ajax({
                type:"POST",
                url:"/user/uploadbig",
                data:objs,
                contentType:false,
                processData:false,
                success:function(data){

                }
            });

        }
    }
</script>